/* Estilo del fondo de la página */
.stApp {
    background-color: #001f3f;
}

/* Estilo de la barra lateral */
section[data-testid="stSidebar"] {
    background-color: #00122e;
}

/* Estilo para los títulos y texto de la barra lateral */
[data-testid="stSidebar"] h3 {
    color: white !important;
}

[data-testid="stSidebar"] p {
    color: white !important;
}

/* Oculta el botón de la flecha de la barra lateral */
button[data-testid="stSidebarNav"] {
    display: none !important;
}

/* Estilo para los botones del menú */
.stButton > button {
    background-color: transparent !important;
    border: none !important;
    color: white !important;
    text-align: left;
    width: 100%;
}
.stButton > button:hover {
    background-color: #002e5e !important;
}

/* Estilo para los títulos principales */
h1 {
    color: white !important;
}
